* {
  font-family: "JetBrainsMono NF", FontAwesome, sans-serif;
  background-image: none;
  transition: 20ms;
}

window {
  background-color: rgba(46, 52, 64, 0.1); 
}

button {
  color: rgb(229, 233, 240); 
  font-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25%;
  border-style: solid;
  background-color: rgba(46, 52, 64, 0.3); 
  border: 3px solid rgb(229, 233, 240); 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button:focus,
button:active,
button:hover {
  color: rgb(163, 190, 140); 
  background-color: rgba(46, 52, 64, 0.5); 
  border: 3px solid rgb(163, 190, 140); 
}

#logout {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/logout.png"));
}

#suspend {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/suspend.png"));
}

#shutdown {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/shutdown.png"));
}

#reboot {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/reboot.png"));
}

#lock {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/lock.png"));
}

#hibernate {
  margin: 10px;
  border-radius: 20px;
  background-image: image(url("icons/hibernate.png"));
}
